In [2]:
!dir

24_April.ipynb	IPL_MAIN.csv  matches.csv    Point_Calc_Function.ipynb
CSK.csv		KKR.csv       MI.csv	     RCB.csv
DD.csv		KXIP.csv      MI_Team.ipynb  RR.csv
ipl2020.csv	look.csv      new.csv	     SRH.csv

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('IPL_MAIN.csv')

In [5]:
df

,id,season,city,home_team,away_team,toss_winner,toss_decision,winner,venue,w1,w2
0,1,2017,Hyderabad,SRH,RCB,RCB,field,SRH,"Rajiv Gandhi International Stadium, Uppal",102.03,107.78
1,2,2017,Pune,RPS,MI,RPS,field,RPS,Maharashtra Cricket Association Stadium,98.00,122.56
2,3,2017,Rajkot,GL,KKR,KKR,field,KKR,Saurashtra Cricket Association Stadium,90.00,120.75
3,4,2017,Indore,KXIP,RPS,KXIP,field,KXIP,Holkar Cricket Stadium,105.25,98.00
4,5,2017,Bangalore,RCB,DD,RCB,bat,RCB,M Chinnaswamy Stadium,107.78,113.82
...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,MI,KKR,MI,field,MI,Wankhede Stadium,122.56,120.75
752,11412,2019,Chennai,CSK,MI,CSK,bat,MI,M. A. Chidambaram Stadium,115.02,122.56
753,11413,2019,Visakhapatnam,SRH,DD,DD,field,DD,ACA-VDCA Stadium,102.03,113.82
754,11414,2019,Visakhapatnam,DD,CSK,CSK,field,CSK,ACA-VDCA Stadium,113.82,115.02
755,11415,2019,Hyderabad,MI,CSK,MI,bat,MI,Rajiv Gandhi Intl. Cricket Stadium,122.56,115.02

In [6]:
df["winner"].fillna( method ='ffill', inplace = True)

In [7]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

city    7
dtype: int64

In [8]:
df.isnull().values.sum()

7

In [9]:
x = df.drop(['winner'], axis = 1)

In [10]:
y = df['winner']

In [11]:
y

0       SRH
1       RPS
2       KKR
3      KXIP
4       RCB
       ...
751      MI
752      MI
753      DD
754     CSK
755      MI
Name: winner, Length: 756, dtype: object

In [12]:
x = x.iloc[:,3:]

In [13]:
x

,home_team,away_team,toss_winner,toss_decision,venue,w1,w2
0,SRH,RCB,RCB,field,"Rajiv Gandhi International Stadium, Uppal",102.03,107.78
1,RPS,MI,RPS,field,Maharashtra Cricket Association Stadium,98.00,122.56
2,GL,KKR,KKR,field,Saurashtra Cricket Association Stadium,90.00,120.75
3,KXIP,RPS,KXIP,field,Holkar Cricket Stadium,105.25,98.00
4,RCB,DD,RCB,bat,M Chinnaswamy Stadium,107.78,113.82
...,...,...,...,...,...,...,...
751,MI,KKR,MI,field,Wankhede Stadium,122.56,120.75
752,CSK,MI,CSK,bat,M. A. Chidambaram Stadium,115.02,122.56
753,SRH,DD,DD,field,ACA-VDCA Stadium,102.03,113.82
754,DD,CSK,CSK,field,ACA-VDCA Stadium,113.82,115.02
755,MI,CSK,MI,bat,Rajiv Gandhi Intl. Cricket Stadium,122.56,115.02

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
# # Selecting only categorical data
x_cat = x.select_dtypes(include=[object])

In [16]:
x_cat

,home_team,away_team,toss_winner,toss_decision,venue
0,SRH,RCB,RCB,field,"Rajiv Gandhi International Stadium, Uppal"
1,RPS,MI,RPS,field,Maharashtra Cricket Association Stadium
2,GL,KKR,KKR,field,Saurashtra Cricket Association Stadium
3,KXIP,RPS,KXIP,field,Holkar Cricket Stadium
4,RCB,DD,RCB,bat,M Chinnaswamy Stadium
...,...,...,...,...,...
751,MI,KKR,MI,field,Wankhede Stadium
752,CSK,MI,CSK,bat,M. A. Chidambaram Stadium
753,SRH,DD,DD,field,ACA-VDCA Stadium
754,DD,CSK,CSK,field,ACA-VDCA Stadium
755,MI,CSK,MI,bat,Rajiv Gandhi Intl. Cricket Stadium

In [17]:
# x_cat = LabelEncoder.fit_transform(x_cat)
x_cat.apply(LabelEncoder().fit_transform)

     home_team  away_team  toss_winner  toss_decision  venue
0           12          9            9              1     28
1           10          7           10              1     21
2            3          4            4              1     31
3            6         10            6              1     13
4            9          2            9              0     17
..         ...        ...          ...            ...    ...
751          7          4            7              1     40
752          0          7            0              0     18
753         12          2            2              1      0
754          2          0            0              1      0
755          7          0            7              0     29

[756 rows x 5 columns]

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
enc = OneHotEncoder(sparse=False)

In [20]:
df_catg_encoder = pd.DataFrame(enc.fit_transform(x_cat))

In [21]:
df_catg_encoder.columns = enc.get_feature_names(['home_team', 'away_team', 'toss_winner', 'toss_decision','venue'])

In [22]:
x_final = pd.concat([x, df_catg_encoder ], axis=1)

In [23]:
x_final.drop(['home_team', 'away_team', 'toss_winner', 'toss_decision','venue'] ,axis=1, inplace=True)

In [24]:
x_final

,w1,w2,home_team_CSK,home_team_DC,home_team_DD,home_team_GL,home_team_KKR,home_team_KTK,home_team_KXIP,home_team_MI,...,venue_Saurashtra Cricket Association Stadium,venue_Sawai Mansingh Stadium,venue_Shaheed Veer Narayan Singh International Stadium,venue_Sharjah Cricket Stadium,venue_Sheikh Zayed Stadium,venue_St George's Park,venue_Subrata Roy Sahara Stadium,venue_SuperSport Park,"venue_Vidarbha Cricket Association Stadium, Jamtha",venue_Wankhede Stadium
0,102.03,107.78,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,98.00,122.56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,90.00,120.75,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,105.25,98.00,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,107.78,113.82,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,122.56,120.75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
752,115.02,122.56,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
753,102.03,113.82,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
754,113.82,115.02,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
755,122.56,115.02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
# y.dropna(axis=0,inplace=True)

In [26]:
# x_final.dropna(axis=0,inplace=True)

In [27]:
# y.shape

In [28]:
# x_final.shape

In [29]:
from sklearn import preprocessing

In [30]:
# min_max_scaler = preprocessing.MinMaxScaler()

In [31]:
# X = min_max_scaler.fit_transform(x_final)

In [32]:
# X

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# train_x, test_x, train_y, test_y = train_test_split(X,y,test_size=0.33,random_state=42)

In [35]:
# print(train_x.shape,train_y.shape,test_x.shape,test_y.shape)

In [36]:
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.naive_bayes import GaussianNB
# from sklearn.model_selection import KFold
# from sklearn.linear_model import LogisticRegression
# from sklearn.svm import SVC

In [37]:
# clf = DecisionTreeClassifier()
# clf = RandomForestClassifier()
# clf = GaussianNB()
# clf = KFold()
# clf = LogisticRegression()
# clf = SVC()

In [38]:
# trained = clf.fit(train_x, train_y)

In [39]:
# for i in test_x:
#     print(i, end=",")
#     break

In [40]:
# output = trained.predict(test_x)

In [41]:
# output

In [42]:
# for i in test_y:
#     print(i, end=", ")

In [43]:
# from sklearn.metrics import accuracy_score

In [44]:
# accuracy_score(output,test_y)

In [45]:
# x_final

In [46]:
from sklearn.preprocessing import LabelEncoder

In [47]:
Le = LabelEncoder()

In [48]:
y = Le.fit_transform(y)

In [52]:
from keras.utils import to_categorical, plot_model

In [53]:
y_cat = to_categorical(y)

In [54]:
y_cat.shape

(756, 13)

In [55]:
train_x, test_x, train_y, test_y = train_test_split(x_final, y_cat, test_size=0.2)

In [56]:
train_x.shape, train_y.shape, test_x.shape, test_y.shape

((604, 84), (604, 13), (152, 84), (152, 13))

In [57]:
import tensorflow as tf
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense
from warnings import filterwarnings
filterwarnings("ignore")
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'
import keras
from keras.utils import to_categorical, plot_model
from keras.preprocessing.text import Tokenizer
from keras import losses
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.metrics import accuracy_score, log_loss, recall_score
import matplotlib.pyplot as plt

In [58]:
# Creating model
model = Sequential()
model.add(Dense(168, activation="relu", input_dim=84, kernel_regularizer=keras.regularizers.l2(l=0.0001)))
model.add(Dense(84, activation="relu", kernel_regularizer=keras.regularizers.l2(l=0.001)))
model.add(Dense(84, activation="relu", kernel_regularizer=keras.regularizers.l2(l=0.001)))
model.add(Dense(84, activation="relu", kernel_regularizer=keras.regularizers.l2(l=0.001)))
model.add(Dense(13, activation="sigmoid"))
model.compile(optimizer=keras.optimizers.Adam(lr=0.0001), loss='categorical_crossentropy', metrics=["accuracy"])

In [ ]:
history = model.fit(train_x,train_y,epochs=1000, validation_data=(test_x,test_y), batch_size=25)

In [ ]:
pred = model.predict(test_x)
e = model.evaluate(test_x, test_y)
print ("Loss: ", e[0])
print ("Accuracy on the test set:"" ", e[1])